@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600&display=swap");
footer {
  position: fixed;
  bottom: 1.5em;
  left: 44em;
  text-align: center;
}
header {
  font-size: 23px;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
}
small {
  font-size: 10px;
  font-family: "Space Grotesk", sans-serif;
}
footer {
  margin-left: 5em;
  font-family: "Space Grotesk", sans-serif;
}
.img {
  margin-left: 61em;
  margin-top: 7em;
  zoom: 0.6;
  height: 570px;
}
a,
button {
  color: black;
  text-decoration: none;
}
button {
  font-family: "Sora", sans-serif;
  position: fixed;
  justify-content: center;
  bottom: 6.5em;
  left: 49em;
  width: 250px;
  height: 60px;
  border-radius: 4px;
  border: 0px solid;
  cursor: pointer;
}

.main {
  margin-left: 38em;
  font-family: "Sora", sans-serif;
}
@media only screen and (max-height: 800px) {
footer{
 margin-left: -1em;
}
button{
    margin-left: 1em;
}

}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .main {
    margin: 0;
    padding: 0;
    margin-top: 3em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  span {
    font-size: 14px;
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  footer {
    color: grey;
    left: 7.8em;
  }
  button {
    left: 5em;
  }
  .img {
    margin-left: -3em;
    margin-top:10em;
    width: 900px;
    height: 700px;
    zoom: .5;
  }
}

/*landscape*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 11em;
  }
  button {
    zoom: 0.7;
    margin-left: -18em;
  }

  footer {
    position: fixed;
    bottom: 1em;
    left: 25em;
    font-size: 12px;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 9em;
  }
  h1 {
    font-size: 47px;
    font-weight: 760;
  }
  span {
    text-align: center;
    justify-content: center;
    margin-left: -10em;
  }
  button,
  footer {
    left: 21em;
  }
  .img {
    width: 700px;
    zoom: 0.5;
  }
}
