*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: orange ;
    font-family: 'Fira code', sans-serif;
}

.container{
    height: 500px;
    width: 320px;
    background: #f5f5f5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow:hidden;
}

.note-box{
    height: 500px;
    width: 100%;
    position: absolute;
    overflow-y: scroll;
}

.note_btn{
    all: unset;
    background: orange;
    border-radius: 100%;
    position: fixed;
    top: 85%;
    right: 25px;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.note{
    height: 110px;
    width: 90%;
    position: relative;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;
    margin-bottom: 10px;
}